body {
    font-family: Arial;
    margin: 0;
    background-color: black!important;
    }

  .card{
      margin-top:100px;
    
  }
.col-12{
    margin-left:15%
}
.prev{
    margin-left: -20px;
    position: absolute;
}
.next{
    margin-right: -150px!important;
    position: absolute;

}
  .prev,
  .next {
    cursor: pointer;
   // position: relative;
    margin-top:30px;
    width: auto;
    color: #333;
    font-size: 15px;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding:1%
  }
  
  .carouselText{
    margin-top: 155px;
  //  position: absolute;
    text-align: center;
    margin-right: 11px;
    color: #000000 !important;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .icons{
    display:inline-block;
     margin-left:50px; 
     margin-top: 60px;
     margin-bottom: 30px;
     font-size: 25px;
  }
  .caption-container {
    text-align: center;
    padding: 2px 16px;
  }  
 .row>*{
    border: none !important;
 }
  
  .column {
    float: left;
    width: 150px;
    height: 200px;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
    border-radius: 3px;
    background-color: #fff;
    margin-left: 20px;
    //box-shadow: 4px 3px 8px 0px rbg(200 152 44 / 22%);
    transition-duration: 0.3;
    margin-bottom: 20px;
    cursor:pointer;
    &:hover{
        box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
        transform: translateY(-3px);
    }
    &-thumb-container {
        background-color: #000000;
        position: relative;
        color: #fff;
        text-align: center;
      }
    
  }
 
  
  .active,
  .column 
  .demo:hover {
    opacity: 1;
    width: 250px;
    box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    transform: translateY(-10px);
    z-index: 1000;
    width: 370px;
    height: 470px;
    margin-top:-60px;
    border-bottom: solid 9px orange;
    border-radius: 15px;
    margin-bottom: 20px
   }
   .active .carouselText{
    margin-top: 80px;
    position: absolute;
    text-align: center !important;
    left: 25%;
    color: #000000 !important;
    font-weight:700;
    font-size: 26px;
    margin-bottom: 20px
  
}
.active .material-icons{
    font-size: 100px !important;
    margin-left: 80% !important;
    margin-top: 50px;

}