

<div class ="container">
    
    <div class="row">
    <div class="card">
     
            <div class="mySlides">

            </div>
            <div class="mySlides">
            
            </div>

            <div class="mySlides">
                
            </div>
                
            <div class="mySlides">
                
            </div>

            <div class="mySlides">
            
            </div>  
    </div>  
        

    <div class="">
        
        <div class="">
        <p id=""></p>
    </div>
    </div> 
    <div class="row col-12">
            <div class="column demo">
                <span class="icons">
                   <i class="material-icons">phonelink_ring</i>
                </span><br>
                <span class="carouselText">Mobile Internet</span>
            </div>
            <div class="column demo">
                <span class="icons">
                    <i class="material-icons">rss_feed</i>
                </span><br>
                <span class="carouselText">
                  <p>Home Internet</p>  
                </span>
            </div>
            <div class="column demo">
                <span class="icons">
                    <i class="material-icons">present_to_all</i>
                </span><br>
               <span class="carouselText">Add a phone line</span>
            </div>
            <div class="column demo">
                <span class="icons">
                    <i class="material-icons">call</i>
                </span><br>
               <span class="carouselText">Upgrade</span>
            </div>
            <div class="column demo">
                <span class="icons">
                    <i class="material-icons">vpn_key</i>
                </span><br>
                <span class="carouselText">Work from home</span>
            </div>    
        
    </div>
    
    <div class="row col-12">
        <div class ="col-sm">
            <a class="prev" onclick="plusSlides(-1)">❮</a>
        </div>
        <div class ="col-sm">
        </div>
        <div class ="col-sm">
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
    </div>
    </div>
</div>